# vscode settings
.vscode
venv

# pyenv version
.python-version

# data files
data
*.csv

# outputs
artifacts
outputs
wandb
lightning_logs
logs
*.out
*.ckpt

# pycache
__pycache__

# dummy files
playground.py

# docker
Dockerfile

*.hdf5